# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheels/

# Virtual environment
.venv/

# Secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data
data/images/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/
